Dataset Source: https://www.finder.com/starbucks-index

In [2]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

1.0.5
1.19.4

In [5]:
coffee_path = "./data/coffee_2019.csv"
df_starbucks = pd.read_csv(coffee_path)
df_starbucks.sample(2)

    Price_Rank     Country        City  Price_in_USD
4            5  Luxembourg  Luxembourg          5.18
19          20     Bahrain      Manama          4.20

In [8]:
base_currency_country = "South Korea"
currency_price = float(df_starbucks.loc[df_starbucks["Country"]== base_currency_country, "Price_in_USD"])
currency_price

3.88

In [9]:
# comparing dollar price of Korea to other countries
df_starbucks["base_currency_price"] = currency_price
df_starbucks["percentage_gap"] = df_starbucks["Price_in_USD"] / currency_price - 1
df_starbucks.sample(4)

,Price_Rank,Country,City,Price_in_USD,base_currency_price,percentage_gap
68,69,Brazil,São Paulo,2.43,3.88,-0.373711
17,18,United Arab Emirates,Dubai,4.29,3.88,0.105670
30,31,Ireland,Dublin,3.91,3.88,0.007732
5,6,Norway,Oslo,5.14,3.88,0.324742

In [10]:
year = 2019
df_starbucks.to_csv(f"./data_wrangled/starbucks_latte_price_level_comparison_{year}.csv", index=False)