<a href="https://colab.research.google.com/github/snoop2head/yonsei-exchange-program/blob/master/analyze_RNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Using Keras RNN to conduct sentiment analysis on naver movie review dataset(NSMC)
* Source: [딥 러닝을 이용한 자연어 처리 입문](https://wikidocs.net/44249)

In [1]:
!git config --global user.email "young_ahn@yonsei.ac.kr"
!git config --global user.name "noopy"
!git clone https://github.com/snoop2head/yonsei-exchange-program/

Cloning into 'yonsei-exchange-life'...
remote: Enumerating objects: 1900, done.
remote: Counting objects: 100% (1900/1900), done.
remote: Compressing objects: 100% (1854/1854), done.
remote: Total 3243 (delta 85), reused 1847 (delta 44), pack-reused 1343
Receiving objects: 100% (3243/3243), 117.77 MiB | 4.02 MiB/s, done.
Resolving deltas: 100% (207/207), done.
Checking out files: 100% (2386/2386), done.

In [ ]:
!git clone https://github.com/SOMJANG/Mecab-ko-for-Google-Colab.git

Cloning into 'Mecab-ko-for-Google-Colab'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (55/55), done.
remote: Total 60 (delta 23), reused 20 (delta 5), pack-reused 0
Unpacking objects: 100% (60/60), done.

In [ ]:
!ls -a

.  ..  .config	Mecab-ko-for-Google-Colab  sample_data	yonsei-exchange-life

In [ ]:
%cd Mecab-ko-for-Google-Colab

/content/Mecab-ko-for-Google-Colab

In [ ]:
 !bash install_mecab-ko_on_colab190912.sh

In [ ]:
%cd ..

/content

In [ ]:
%cd yonsei-exchange-program/
!ls

/content/yonsei-exchange-life
analyze_BERT_nsmc.ipynb    data				    img
analyze_RNN.ipynb	   data_sentiment		    LICENSE
_archived		   extract_keyword_tfidf.ipynb	    README.md
best_model.h5		   generate_wordcloud.ipynb	    README.pdf
cluster_departments.ipynb  generate_wordcloud_konlpy.ipynb  requirements.txt
collect_reviews.ipynb	   generate_wordcloud_tfidf.ipynb

In [ ]:
!pip install -r requirements.txt

In [ ]:
import pandas as pd
import urllib.request
%matplotlib inline
import matplotlib.pyplot as plt
import re
from konlpy.tag import Okt
from tensorflow.keras.preprocessing.text import Tokenizer
import numpy as np
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [ ]:
urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt", filename="ratings_train.txt")
urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings_test.txt", filename="ratings_test.txt")

('ratings_test.txt', <http.client.HTTPMessage at 0x7f295034f828>)

In [ ]:
train_data = pd.read_table('ratings_train.txt')
test_data = pd.read_table('ratings_test.txt')

In [ ]:
print('훈련용 리뷰 개수 :',len(train_data)) # 훈련용 리뷰 개수 출력

훈련용 리뷰 개수 : 150000

In [ ]:
train_data[:5] # 상위 5개 출력

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [ ]:
print('테스트용 리뷰 개수 :',len(test_data)) # 테스트용 리뷰 개수 출력

테스트용 리뷰 개수 : 50000

In [ ]:
test_data[:5]

        id                                           document  label
0  6270596                                                굳 ㅋ      1
1  9274899                               GDNTOPCLASSINTHECLUB      0
2  8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4  6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0

In [ ]:
train_data['document'].nunique(), train_data['label'].nunique()

(146182, 2)

In [ ]:
train_data.drop_duplicates(subset=['document'], inplace=True) # document 열에서 중복인 내용이 있다면 중복 제거

In [ ]:
print('총 샘플의 수 :',len(train_data))

총 샘플의 수 : 146183

In [ ]:
train_data['label'].value_counts().plot(kind = 'bar')

In [ ]:
print(train_data.groupby('label').size().reset_index(name = 'count'))

   label  count
0      0  73342
1      1  72841

In [ ]:
print(train_data.isnull().values.any())

True

In [ ]:
print(train_data.isnull().sum())

id          0
document    1
label       0
dtype: int64

In [ ]:
train_data.loc[train_data.document.isnull()]

            id document  label
25857  2172111      NaN      1

In [ ]:
train_data = train_data.dropna(how = 'any') # Null 값이 존재하는 행 제거
print(train_data.isnull().values.any()) # Null 값이 존재하는지 확인

False

In [ ]:
print(len(train_data))

146182

In [ ]:
train_data['document'] = train_data['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
# 한글과 공백을 제외하고 모두 제거
train_data[:5]

         id                                           document  label
0   9976970                                  아 더빙 진짜 짜증나네요 목소리      0
1   3819312                         흠포스터보고 초딩영화줄오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                          교도소 이야기구먼 솔직히 재미는 없다평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화스파이더맨에서 늙어보이기만 했던 커스틴 던...      1

In [ ]:
train_data['document'].replace('', np.nan, inplace=True)
print(train_data.isnull().sum())

id            0
document    391
label         0
dtype: int64

In [ ]:
train_data.loc[train_data.document.isnull()][:5]

           id document  label
584   7117896      NaN      0
593   6478189      NaN      0
638   9364602      NaN      0
668   1600635      NaN      0
1559  6918082      NaN      1

In [ ]:
train_data = train_data.dropna(how = 'any')
print(len(train_data))

145791

In [ ]:
test_data.drop_duplicates(subset = ['document'], inplace=True) # document 열에서 중복인 내용이 있다면 중복 제거
test_data['document'] = test_data['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","") # 정규 표현식 수행
test_data['document'].replace('', np.nan, inplace=True) # 공백은 Null 값으로 변경
test_data = test_data.dropna(how='any') # Null 값 제거
print('전처리 후 테스트용 샘플의 개수 :',len(test_data))

전처리 후 테스트용 샘플의 개수 : 48995

In [ ]:
stopwords = ['의','가','이','은','들','는','좀','잘','걍','과','도','를','으로','자','에','와','한','하다']

In [ ]:
okt = Okt()
okt.morphs('와 이런 것도 영화라고 차라리 뮤직비디오를 만드는 게 나을 뻔', stem = True)

['오다', '이렇다', '것', '도', '영화', '라고', '차라리', '뮤직비디오', '를', '만들다', '게', '나다', '뻔']

In [ ]:
X_train = []
for sentence in train_data['document']:
    temp_X = []
    temp_X = okt.morphs(sentence, stem=True) # 토큰화
    temp_X = [word for word in temp_X if not word in stopwords] # 불용어 제거
    X_train.append(temp_X)

In [ ]:
print(X_train[:3])

[['아', '더빙', '진짜', '짜증나다', '목소리'], ['흠', '포스터', '보고', '초딩', '영화', '줄', '오버', '연기', '조차', '가볍다', '않다'], ['너', '무재', '밓었', '다그', '래서', '보다', '추천', '다']]

In [ ]:
X_test = []
for sentence in test_data['document']:
    temp_X = []
    temp_X = okt.morphs(sentence, stem=True) # 토큰화
    temp_X = [word for word in temp_X if not word in stopwords] # 불용어 제거
    X_test.append(temp_X)

In [ ]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(X_train)

In [ ]:
print(tokenizer.word_index)

In [ ]:
threshold = 3
total_cnt = len(tokenizer.word_index) # 단어의 수
rare_cnt = 0 # 등장 빈도수가 threshold보다 작은 단어의 개수를 카운트
total_freq = 0 # 훈련 데이터의 전체 단어 빈도수 총 합
rare_freq = 0 # 등장 빈도수가 threshold보다 작은 단어의 등장 빈도수의 총 합

# 단어와 빈도수의 쌍(pair)을 key와 value로 받는다.
for key, value in tokenizer.word_counts.items():
    total_freq = total_freq + value

    # 단어의 등장 빈도수가 threshold보다 작으면
    if(value < threshold):
        rare_cnt = rare_cnt + 1
        rare_freq = rare_freq + value

print('단어 집합(vocabulary)의 크기 :',total_cnt)
print('등장 빈도가 %s번 이하인 희귀 단어의 수: %s'%(threshold - 1, rare_cnt))
print("단어 집합에서 희귀 단어의 비율:", (rare_cnt / total_cnt)*100)
print("전체 등장 빈도에서 희귀 단어 등장 빈도 비율:", (rare_freq / total_freq)*100)

단어 집합(vocabulary)의 크기 : 43752
등장 빈도가 2번 이하인 희귀 단어의 수: 24337
단어 집합에서 희귀 단어의 비율: 55.62488571950996
전체 등장 빈도에서 희귀 단어 등장 빈도 비율: 1.8715872104872904

In [ ]:
# 전체 단어 개수 중 빈도수 2이하인 단어 개수는 제거.
# 0번 패딩 토큰과 1번 OOV 토큰을 고려하여 +2
vocab_size = total_cnt - rare_cnt + 2
print('단어 집합의 크기 :',vocab_size)

단어 집합의 크기 : 19417

In [ ]:
tokenizer = Tokenizer(vocab_size, oov_token = 'OOV') 
tokenizer.fit_on_texts(X_train)
X_train = tokenizer.texts_to_sequences(X_train)
X_test = tokenizer.texts_to_sequences(X_test)

In [ ]:
print(X_train[:3])

[[51, 455, 17, 261, 660], [934, 458, 42, 603, 2, 215, 1450, 25, 962, 676, 20], [387, 2445, 1, 2316, 5672, 3, 223, 10]]

In [ ]:
y_train = np.array(train_data['label'])
y_test = np.array(test_data['label'])

In [ ]:
drop_train = [index for index, sentence in enumerate(X_train) if len(sentence) < 1]

In [ ]:
# 빈 샘플들을 제거
X_train = np.delete(X_train, drop_train, axis=0)
y_train = np.delete(y_train, drop_train, axis=0)
print(len(X_train))
print(len(y_train))

145380
145380

In [ ]:
print('리뷰의 최대 길이 :',max(len(l) for l in X_train))
print('리뷰의 평균 길이 :',sum(map(len, X_train))/len(X_train))
plt.hist([len(s) for s in X_train], bins=50)
plt.xlabel('length of samples')
plt.ylabel('number of samples')
plt.show()

In [ ]:
def below_threshold_len(max_len, nested_list):
  cnt = 0
  for s in nested_list:
    if(len(s) <= max_len):
        cnt = cnt + 1
  print('전체 샘플 중 길이가 %s 이하인 샘플의 비율: %s'%(max_len, (cnt / len(nested_list))*100))

In [ ]:
max_len = 50
below_threshold_len(max_len, X_train)

전체 샘플 중 길이가 50 이하인 샘플의 비율: 99.91126702434998

In [ ]:
X_train = pad_sequences(X_train, maxlen = max_len)
X_test = pad_sequences(X_test, maxlen = max_len)

In [ ]:
from tensorflow.keras.layers import Embedding, Dense, LSTM
from tensorflow.keras.models import Sequential
from tensorflow.keras.models import load_model
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

In [ ]:
model = Sequential()
model.add(Embedding(vocab_size, 100))
model.add(LSTM(128))
model.add(Dense(1, activation='sigmoid'))

In [ ]:
es = EarlyStopping(monitor='val_loss', mode='min', verbose=1, patience=4)
mc = ModelCheckpoint('best_model.h5', monitor='val_acc', mode='max', verbose=1, save_best_only=True)

In [ ]:
model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['acc'])
history = model.fit(X_train, y_train, epochs=15, callbacks=[es, mc], batch_size=60, validation_split=0.2)

Epoch 1/15
1936/1939 [============================>.] - ETA: 0s - loss: 0.3919 - acc: 0.8215
Epoch 00001: val_acc improved from -inf to 0.84276, saving model to best_model.h5
1939/1939 [==============================] - 26s 14ms/step - loss: 0.3917 - acc: 0.8216 - val_loss: 0.3571 - val_acc: 0.8428
Epoch 2/15
1936/1939 [============================>.] - ETA: 0s - loss: 0.3278 - acc: 0.8578
Epoch 00002: val_acc improved from 0.84276 to 0.85555, saving model to best_model.h5
1939/1939 [==============================] - 25s 13ms/step - loss: 0.3278 - acc: 0.8578 - val_loss: 0.3308 - val_acc: 0.8556
Epoch 3/15
1936/1939 [============================>.] - ETA: 0s - loss: 0.3017 - acc: 0.8716
Epoch 00003: val_acc improved from 0.85555 to 0.85937, saving model to best_model.h5
1939/1939 [==============================] - 25s 13ms/step - loss: 0.3016 - acc: 0.8716 - val_loss: 0.3277 - val_acc: 0.8594
Epoch 4/15
1937/1939 [============================>.] - ETA: 0s - loss: 0.2828 - acc: 0.8819
Epoch 00004: val_acc did not improve from 0.85937
1939/1939 [==============================] - 24s 12ms/step - loss: 0.2827 - acc: 0.8820 - val_loss: 0.3412 - val_acc: 0.8550
Epoch 5/15
1938/1939 [============================>.] - ETA: 0s - loss: 0.2670 - acc: 0.8903
Epoch 00005: val_acc improved from 0.85937 to 0.86037, saving model to best_model.h5
1939/1939 [==============================] - 24s 12ms/step - loss: 0.2671 - acc: 0.8903 - val_loss: 0.3231 - val_acc: 0.8604
Epoch 6/15
1938/1939 [============================>.] - ETA: 0s - loss: 0.2521 - acc: 0.8976
Epoch 00006: val_acc did not improve from 0.86037
1939/1939 [==============================] - 24s 13ms/step - loss: 0.2521 - acc: 0.8975 - val_loss: 0.3332 - val_acc: 0.8581
Epoch 7/15
1939/1939 [==============================] - ETA: 0s - loss: 0.2377 - acc: 0.9042
Epoch 00007: val_acc did not improve from 0.86037
1939/1939 [==============================] - 24s 13ms/step - loss: 0.2377 - acc: 0.9042 - val_loss: 0.3456 - val_acc: 0.8529
Epoch 8/15
1935/1939 [============================>.] - ETA: 0s - loss: 0.2222 - acc: 0.9115
Epoch 00008: val_acc did not improve from 0.86037
1939/1939 [==============================] - 25s 13ms/step - loss: 0.2223 - acc: 0.9115 - val_loss: 0.3411 - val_acc: 0.8553
Epoch 9/15
1937/1939 [============================>.] - ETA: 0s - loss: 0.2067 - acc: 0.9186
Epoch 00009: val_acc did not improve from 0.86037
1939/1939 [==============================] - 26s 13ms/step - loss: 0.2068 - acc: 0.9186 - val_loss: 0.3631 - val_acc: 0.8511
Epoch 00009: early stopping

In [ ]:
loaded_model = load_model('best_model.h5')
print("\n 테스트 정확도: %.4f" % (loaded_model.evaluate(X_test, y_test)[1]))

1532/1532 [==============================] - 6s 4ms/step - loss: 0.3294 - acc: 0.8548

 테스트 정확도: 0.8548

In [ ]:
def sentiment_predict(new_sentence):
  new_sentence = okt.morphs(new_sentence, stem=True) # 토큰화
  new_sentence = [word for word in new_sentence if not word in stopwords] # 불용어 제거
  encoded = tokenizer.texts_to_sequences([new_sentence]) # 정수 인코딩
  pad_new = pad_sequences(encoded, maxlen = max_len) # 패딩
  score = float(loaded_model.predict(pad_new)) # 예측
  if(score > 0.5):
    print("{:.2f}% 확률로 긍정 리뷰입니다.\n".format(score * 100))
  else:
    print("{:.2f}% 확률로 부정 리뷰입니다.\n".format((1 - score) * 100))

In [ ]:
sentiment_predict('이 영화 개꿀잼 ㅋㅋㅋ')
sentiment_predict('감독 뭐하는 놈이냐?')
sentiment_predict('이 영화 핵노잼 ㅠㅠ')
sentiment_predict('이딴게 영화냐 ㅉㅉ')
sentiment_predict('와 개쩐다 정말 세계관 최강자들의 영화다')

92.34% 확률로 긍정 리뷰입니다.

98.30% 확률로 부정 리뷰입니다.

98.74% 확률로 부정 리뷰입니다.

99.85% 확률로 부정 리뷰입니다.

90.54% 확률로 긍정 리뷰입니다.

### Utilizing it to Yonsei Exchange Reviews

In [ ]:
# import file related library
import os
from os import fdopen, remove
import glob
from tempfile import mkstemp
import shutil
from shutil import move, copymode

In [ ]:
source = "./data/univ_text_data"
source_abstract = "./data/abstract"
source_specific = "./data/specific"
source_bert = "data_sentiment/abstract_bert"

In [ ]:
abstract_yonsei_reviews = glob.glob(f"{source_abstract}/*.csv")
abstract_yonsei_reviews[:5]

['./data/abstract/US000102_review_abstract.csv',
 './data/abstract/CZ000001_review_abstract.csv',
 './data/abstract/US000030_review_abstract.csv',
 './data/abstract/US000068_review_abstract.csv',
 './data/abstract/FR000002_review_abstract.csv']

In [ ]:
sample_file = abstract_yonsei_reviews[100]
df_abstract = pd.read_csv(sample_file, encoding="utf-8")
df_abstract.sample(5)

    No                 제목  ...    년도                                          href
49  37               SCSU  ...  2009  /partner/expReport.asp?id=3989&page=5&bgbn=R
11  75     세인트 클라우드 주립대학교  ...  2013  /partner/expReport.asp?id=6900&page=2&bgbn=R
10  76   세인트 클라우드에서의 한 학기  ...  2013  /partner/expReport.asp?id=6922&page=2&bgbn=R
16  70  세인트클라우드에서의 소중한 시간  ...  2012  /partner/expReport.asp?id=6077&page=2&bgbn=R
55  31       08 SCSU 가을학기  ...  2008  /partner/expReport.asp?id=3743&page=6&bgbn=R

[5 rows x 6 columns]

In [ ]:
one_review_title = df_abstract["제목"][16]
print(one_review_title)
sentiment_predict(one_review_title)

세인트클라우드에서의 소중한 시간
76.41% 확률로 긍정 리뷰입니다.

In [ ]:
def label_review(series_object):
    list_scores = []
    list_titles = series_object.to_list()
    for item in list_titles:
        item = okt.morphs(item, stem=True) # 토큰화
        item = [word for word in item if not word in stopwords] # 불용어 제거
        encoded = tokenizer.texts_to_sequences([item]) # 정수 인코딩
        pad_new = pad_sequences(encoded, maxlen = max_len) # 패딩
        score = float(loaded_model.predict(pad_new)) # 예측
        list_scores.append(score)
    return list_scores

In [ ]:
dest_abstract_sentiment = "./data_sentiment/abstract"
source_bert = "./data_sentiment/abstract_bert"
dest_specific_sentiment = "./data_sentiment/specific"

In [ ]:
abstract_yonsei_reviews_bert_labeled = glob.glob(f"{source_bert}/*.csv")
abstract_yonsei_reviews_bert_labeled[:5]

['./data_sentiment/abstract_bert/US000182_review_abstract_BERT.csv',
 './data_sentiment/abstract_bert/US000241_review_abstract_BERT.csv',
 './data_sentiment/abstract_bert/CA000008_review_abstract_BERT.csv',
 './data_sentiment/abstract_bert/US000016_review_abstract_BERT.csv',
 './data_sentiment/abstract_bert/ES000011_review_abstract_BERT.csv']

In [ ]:
sample_file = abstract_yonsei_reviews_bert_labeled[50]
file_name = sample_file.split("/")[-1]
file_name_without_ext = file_name.split(".")[0]
df_abstract = pd.read_csv(sample_file, encoding="utf-8")
df_abstract["RNN_SCORE"] = label_review(df_abstract["제목"])
df_abstract.sample(5)

    No                                           제목  ... BERT_SCORE RNN_SCORE
10  25                             후회하지 않을 선택 리투아니아  ...          1  0.864502
30   5                           카우나스 과학기술대를 소개합니다.  ...          1  0.451056
13  22  LITHUANIA - Kaunas University of Technology  ...          1  0.512364
25  10                                   카우나스에서의 생활  ...          0  0.602492
9   26                                      6개월의 방학  ...          0  0.549282

[5 rows x 8 columns]

In [ ]:
def make_abstract_df_with_sentiment_score(csv_file):
    file_name = csv_file.split("/")[-1]
    file_name_without_ext = file_name.split(".")[0]
    df_abstract = pd.read_csv(csv_file, encoding="utf-8")
    df_abstract["RNN_SCORE"] = label_review(df_abstract["제목"])
    df_abstract.to_csv(f"{dest_abstract_sentiment}/{file_name_without_ext}_sentiment.csv",encoding="utf-8")

In [ ]:
for csv_file in abstract_yonsei_reviews_bert_labeled:
   make_abstract_df_with_sentiment_score(csv_file)

In [ ]:
len(os.listdir(f"{dest_abstract_sentiment}"))

940

In [ ]:
import os
from getpass import getpass
import urllib

git_user = input('git username: ')
github_email = input('github email address: ')
github_user = input('github username(Not email, just username): ')
github_password = getpass('github Password: ')
github_password = urllib.parse.quote(github_password) # your password is converted into url format
github_repo_name = input('Repo name: ')

config_git = f'git config --global user.name {git_user}'
config_github_email = f'git config --global user.email {github_email}'
remove_origin = 'git remote rm origin'
add_origin = 'git remote add origin https://{0}:{1}@github.com/{0}/{2}.git'.format(github_user, github_password, github_repo_name)
push_command = 'git push --set-upstream origin master'


os.system(config_git)
os.system(config_github_email)
os.system(remove_origin) # commence remove origin
os.system(add_origin) # commence add origin to git directory
os.system(push_command)

git_user, github_email, add_origin, github_password = "", "", "", "" # removing the password from the variable

In [ ]:
!git add .

In [ ]:
!git commit -m "add RNN labels to BERT labels"

In [ ]:
!git push

Counting objects: 475, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (475/475), done.
Writing objects: 100% (475/475), 14.36 MiB | 4.12 MiB/s, done.
Total 475 (delta 3), reused 0 (delta 0)
remote: Resolving deltas: 100% (3/3), completed with 1 local object.
To https://github.com/snoop2head/yonsei-exchange-life.git
   ac38b00..87bda23  master -> master